@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdfaf4;
}

.container {
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px #726f6f;
}

.Card {
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #726f6f;
    text-align: justify;
    width: 300px;
}

.Card img {
    object-fit: cover;
}

.Intro {
    flex: 65%;
    margin: 25px auto;
    padding: 0px;
}

.icon img {
    margin-right: 20px;
}

.nav-right a:hover {
    background-color: wheat;
}

.nav-left a:hover {
    color: wheat;
}


#barsmenu, .hamburger-nav-container {
    display: none;
}


nav {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 4rem;
    box-shadow: grey 0 1px 10px;
    z-index: 9999;
    position: sticky;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
    transition: color 0.3s ease;
}

nav ul li .active {
    color: white;
}

.nav-left {
    flex: 50%;
    color: red;
}

.nav-right {
    flex: 50%;
    padding: 10px;
    margin-right: 20px;
    text-align: end;
}

.nav-right a {
    background-color: orangered;
    padding: 8px 20px;
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media only screen and (min-width: 1000px) {
        
    #barsmenu, .hamburger-nav-container {
    display: none;
    }
}

@media only screen and (max-width: 950px) {


    .hamburger-nav-container a {
        text-decoration: none;
        color: black;
        background-color: #fdb123fd;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: color 0.3s ease;
    }

    .hamburger-nav-container {
        font-size: 23px;
        list-style-type: none;
        display: none;
        position: absolute;
        width: 100%;
        animation-name: slide-in;
        animation-duration: .3s;
        animation-timing-function: ease-out;
        z-index: 9998;
        transition: background-color 5 ease;
    }

    #barsmenu i {
        transition: color 0.3s ease;
    }

    .hamburger-nav-container a:hover {
        color: wheat;
    }
    
    #barsmenu i:hover {
        color: orangered;
    }

    .hamburger-nav-container a div:hover {
        background-color: wheat;
    }

    @keyframes slide-in {
        0% {transform: translateY(-100%);}
        100% {transform: translateY(0);}
    }

    .hamburger-nav-container .hamburger-active {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .hamburger-nav-container a div {
        background-color: orangered;
        color: black;
        padding: 1px 10px;
        border-radius: 10px;
        transition: 0.3s ease;
    }

    nav {

        padding: .8em 5em;
    }

    #barsmenu {
        display: block;
    }

    .item-collapse {
        display: none;
    }

    .container {
        flex-direction: column;
        width: 80%;
    }

    .Intro p {
        text-align: justify;
    }

    .Intro .icon,
    .contact-download {
        text-align: center;
    }

    .Card {
        width: 90%;
        font-size: smaller;
    }


}