:root {
    --primary-color: orange;
    --secondary-color: #ffd78d;
    --background-color: #fefefe;
    --shadow-color: #797878;
    --testimonial-width: 30%;
    --testimonial-height: 20em;
    --testimonial-img-height: 20em;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(path/to/your/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.form {
    width: 100%;
    margin: 50px auto;
}

.rating-container {
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-buttons {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    border-radius: 15px;
    position: sticky;
    padding: 0 30px;
}

.rating-buttons button {
    border-radius: 5px;
    width: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    margin: 5px 10px;
    padding: 5px 10px;
    transition: 0.3s ease;
    position: sticky;
    z-index: 9998;
    transform: scale(1.35);
}

.rating-buttons button:hover {
    transform: scale(1.25) rotate(-3deg);
    border-radius: 7px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    transition: 0.3s ease;
}

.rating-buttons button:active {
    transform: scale(1.1);
}

.form i {
    color: orangered;
}

.testimonial-container {
    display: flex;
    justify-content: center;
}

.testimonials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.testimonial {
    box-shadow: 0 0 10px var(--shadow-color);
    width: var(--testimonial-width);
    justify-content: center;
    border-radius: 15px 15px 7px 7px;
    background-color: var(--background-color);
    margin: 30px 0 0;
    transition: 0.3s ease;
    transform: rotate(-1deg);
}

.testimonial:hover {
    transform: scale(1.02) rotate(3deg);
    background-color: var(--background-color);
    box-shadow: 0 0 15px var(--shadow-color);
    transition: 0.3s ease;
}

.testimonial img {
    width: 100%;
    height: var(--testimonial-img-height);
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.quote {
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
}

.author {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.date {
    font-size: 14px;
}

.text {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
}

.rating {
    text-align: center;
    margin: 0 25% 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .testimonials {
        width: 100%;
    }

    .testimonial {
        width: 70%;
    }

    .testimonial img {
        height: var(--testimonial-height);
    }

    .rating-buttons {
        width: 90%;
        padding: 0;
        border-radius: 0;
    }

    .rating-buttons button {
        font-size: 12px;
    }
}