.form {
    width: 100%;
    margin: 50px auto;
  }

.rating-container {
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-buttons {
    display: flex;
    width: 40%;
    justify-content: space-between;
    border-radius: 15px;
    position: sticky;
    padding: 0 30px;
}

.rating-buttons button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: none;
    cursor: pointer;
    margin: 5px 10px;
    padding:  10px 10px;
    transition: 0.3s ease;
    position: sticky;
    z-index: 9998;
    transform: scale(1.35);
}

.rating-buttons button:hover {
    transform: scale(1.25);
    border-radius: 7px;
    background-color: #ffd78d;
}

.form i {
    color: orangered;
}

.testimonials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.testimonial {
    box-shadow: 0 0 10px #797878;
    width: 30%;
    justify-content: center;
    border-radius: 15px 15px 7px 7px;
    background-color: white;
    margin: 30px 0 0;
    transition: 0.3s ease;
}

.testimonial:hover {
    transform: scale(1.005);
    background-color: #fefefe;
}

.testimonial img{
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}


.quote {
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
}

.author {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.date {
    font-size: 14px;
}

.text {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
}

.rating {
    text-align: center;
    margin-bottom: 1em;
}

@media only screen and (max-width: 900px) {
    .testimonial {
        width: 40%;
    }

    .testimonial img {
        height: 150px;
    }

    .rating-buttons {
        width: 90%;
        padding: 0 0;
        border-radius: 0 ;
    }

    .rating-buttons button {
        font-size: 12px;
    }

}
