@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 10vh;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

nav ul li .active {
    color: white;
}

.nav-left {
    flex: 50%;
    color: red;
}

.nav-right {
    flex: 50%;
    padding: 10px;
    margin-right: 20px;
    text-align: end;
}

.nav-right a {
    background-color: orangered;
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
}

.Card {
    text-align:justify;
    flex: 35%;
}

.Intro {
    flex: 65%;
    margin: 25px auto;
    padding: 0px;
}

.icon img{
    margin-right: 20px;
}

.nav-right a:hover{
    background-color: black;
}

.nav-left a:hover {
    text-decoration-line: underline;
}